[submodule "kickstart/.config/old-nvim"]
	path = kickstart/.config/old-nvim
	url = git@github.com:NoahHakansson/nvim.git
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:NoahHakansson/neovim.git
