window {
margin: 0px;
border: 3px solid #61afef;
border-radius: 5px;
background-color: #1f2227;
font-family: "JetBrainsMono Nerd Font";
font-weight: 400;
font-size: 14px;
text-decoration: none;
/* border-style: none; */
}

#input {
margin: 5px;
border: 1px solid #1f2227;
color: #c0caf5;
background-color: #1f2227;
}

#input image {
	color: #c0caf5;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1f2227;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1f2227;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
} 

#entry:selected {
	background-color: #5c6370;
	font-weight: 600;
	outline: none;
}

#text:selected {
	background-color: #5c6370;
	font-weight: 600;
	outline: none;
}

